<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCe8d6U9tCze18Ch4Pcc71yIrk86FuyM08</string>
	<key>GCM_SENDER_ID</key>
	<string>379844036263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>simonisdev.social-media-recommendation-system-demo</string>
	<key>PROJECT_ID</key>
	<string>social-media-ml</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-ml.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379844036263:ios:f201329c1dd37b58a6fd82</string>
</dict>
</plist>